.navigation {
    margin: 5pt;
}

.btn-main-1 {
    color: white;
    background-color: #36cd1e;
    width: 45pt;
    height: 45pt;
}

.btn-main-2 {
    color: white;
    background-color: #bc16cb;
    width: 45pt;
    height: 45pt;
}